# Ignore the local build folder
./.next

# Ignore local node_modules to prevent copying into the Docker image
./node_modules

# Ignore any .env files to keep secrets out of the image
.env*

# Ignore Git files
.git
.gitignore

# Ignore system files
.DS_Store

# Ignore other non-essential files
README.md
Dockerfile.prod
Dockerfile.dev
docker-compose.yml
